apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base
- mongo-secrets.yaml

namespace: staging

configMapGenerator:
- name: mongo-cm
  literals:
  - mongo-server=mongodb-service

patches:
 - mongo-express.yaml