apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base
- mongo-secrets-enc.yaml

namespace: develop

configMapGenerator:
- name: mongo-cm
  literals:
  - mongo-server=mongodb-service